onlyBuiltDependencies[]=@nestjs/core
onlyBuiltDependencies[]=@prisma/engines
onlyBuiltDependencies[]=bcrypt
onlyBuiltDependencies[]=esbuild
onlyBuiltDependencies[]=msgpackr-extract
onlyBuiltDependencies[]=prisma
onlyBuiltDependencies[]=unrs-resolver
